.footer-section {
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  color: ghostwhite;
}
.footer-content-headings {
  color: gainsboro;
  margin-bottom: 10px;
}
.footer-social-media-icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
